@page
@using ShinyRockForum.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@{
    string userID = UserManager.GetUserId(User);
}

<div class="d-flex justify-content-between mb-2">  
<h3>@ViewData["Title"]</h3>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Profile" asp-route-id="@userID">View Profile</a>
</div>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @* Display Email(cant change) *@
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            @* Change Display Name *@
            <div class="form-floating mb-3">
                <input asp-for="@Model.Input.Name" class="form-control" placeholder="Your Display Name"." />
                <label asp-for="@Model.Input.Name" class="form-label"></label>
            </div>
            @* Change Location *@
            <div class="form-floating mb-3">
                <input asp-for="@Model.Input.Location" class="form-control" placeholder="Your Location" />
                <label asp-for="@Model.Input.Location" class="form-label"></label>
                </div>
            @* Display and Change Photo *@
            @{
                var user = await UserManager.GetUserAsync(User);
                string imageUrl = Url.Content("/profile_img/" + user.ImageFilename);
            }
            @if (!string.IsNullOrEmpty(user.ImageFilename))
            {
                <img src="@imageUrl" alt="Profile Picture" class="rounded-circle align-content-center" style="width: 48px; height: 48px;" />
            }
            else
            {
                <img src="@Url.Content("/profile_img/generic.png")" alt="Profile Picture" class="rounded-circle" style="width: 48px; height: 48px;" />
            }
            <div class="form-group mb-3">
                <label asp-for="@Model.Input.ImageFile" class="form-label"></label>
                <input type="file" asp-for="@Model.Input.ImageFile" class="form-control" />
                <span asp-validation-for="@Model.Input.ImageFile" class="text-danger"></span>
            </div>
            @* Change Bio *@
            <div class="form-floating mb-3">
                <textarea asp-for="@Model.Input.Bio" class="form-control" row="4"></textarea>
                <label asp-for="@Model.Input.Bio" class="form-label"></label>
            </div>
            
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
