@model ShinyRockForum.Models.Discussion
@using Microsoft.AspNetCore.Identity
@using ShinyRockForum.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Delete";
    string imageUrl = Url.Content("/photos/" + @Model.ImageFilename);
    string userName = UserManager.FindByIdAsync(Model.ApplicationUserId).Result.UserName;


}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<hr />
<div class="card border-secondary mb-1 rounded-0">
    <input type="hidden" asp-for="DiscussionId" />
    <div class="card-header fw-bold">
        <a>@Model.Title</a>
    </div>
    <div class="card-body text-secondary">
        <p class="card-text">@userName : @Model.CreateDate.ToString("MMM dd yyyy")</p>

        <div class="mb-2">
            <p class="card-text">@Model.Content</p>
        </div>
        @if (!string.IsNullOrEmpty(Model.ImageFilename))
        {
            <div>
                <img src="@imageUrl" class="img-fluid " alt="Image" />
            </div>
        }

        <p class="card-text">Comments: @Model.Comments.Count</p>

    </div>
    <div class="justify-content-end d-flex gap-2 mb-2 mx-2">
    <form asp-action="Delete">
        <input type="hidden" asp-for="DiscussionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Back</a>
    </form>
    </div>
</div>
