@model ShinyRockForum.Models.Discussion

@{
    ViewData["Title"] = "Discussion";
}


<div class="card border-secondary mb-1 rounded-0">
    <input type="hidden" asp-for="DiscussionId"/>
    <div class="card-header">
        <a class="nav-link text-dark" asp-area="" asp-controller="Discussions" asp-action="Details" asp-route-id="@Model.DiscussionId">@Model.Title</a>
    </div>
    <div class="card-body text-secondary">
        <p class="card-text">SomeUserNameHere : @Model.CreateDate.ToString("MMM dd yyyy")</p>

        <p class="card-text">@Model.Content</p>
        <p class="card-text">Comments: @Model.Comments.Count</p>
    </div>
    <div class="card-body text-secondary">
        <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId">Reply</a>
    </div>
</div>
@{
    foreach (var comment in Model.Comments)
    {
        <div class="card border-secondary ms-4 mb-1 rounded-0">
            <div class="card-header">
                <p class="card-text">SomeUserNameHere : @comment.CreateDate.ToString("MMM dd yyyy")</p>
            </div>
            <div class="card-body text-secondary">
                <p class="card-text">@comment.Content</p>
            </div>
        </div>
    }
}
<
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
