@model ShinyRockForum.Models.Discussion
@using Microsoft.AspNetCore.Identity
@using ShinyRockForum.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Discussion";
    string imageUrl = Url.Content("/photos/" + @Model.ImageFilename);
    var currentUser = UserManager.GetUserAsync(User).Result;
    var postOwner = UserManager.FindByIdAsync(Model.ApplicationUserId).Result;
    string postOwnerImageUrl = Url.Content("/profile_img/" + postOwner.ImageFilename);
    bool isOwner = false;
    if (SignInManager.IsSignedIn(User))
    {
        if (Model.ApplicationUserId == currentUser.Id)
        {
            isOwner = true;
        }
    }
}

<div class="card border-secondary mb-1 rounded-0">
    <input type="hidden" asp-for="DiscussionId"/>
    <div class="card-header fw-bold">
        <a>@Model.Title</a>
    </div>
    <div class="card-body text-secondary">
        <p class="card-text">
            @if (!string.IsNullOrEmpty(postOwner.ImageFilename))
            {
                <img src="@postOwnerImageUrl" alt="Profile Picture" class="rounded-circle" style="width: 24px; height: 24px;" />

            }
            else
            {
                <img src="@Url.Content("/profile_img/generic.png")" alt="Profile Picture" class="rounded-circle" style="width: 24px; height: 24px;" />
            }
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Profile" asp-route-id="@postOwner.UserName">@postOwner.Name</a> : @Model.CreateDate.ToString("MMM dd yyyy")</p>

        <div class="mb-2">
            <p class="card-text">@Model.Content</p>
        </div>
        @if (!string.IsNullOrEmpty(Model.ImageFilename))
        {
            <div>
                <img src="@imageUrl" class="img-fluid " alt="Image" />
            </div>
        }

        <p class="card-text">Comments: @Model.Comments.Count</p>
    
    </div>   
    <div class="justify-content-end d-flex gap-2 mb-2 mx-2">
        <a class="btn btn-primary" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId">Reply</a>
        @if(isOwner)
        {
            <a class="btn btn-warning" asp-controller="Discussion" asp-action="Edit" asp-route-id="@Model.DiscussionId">Edit</a>
            <a class="btn btn-danger" asp-controller="Discussion" asp-action="Delete" asp-route-id="@Model.DiscussionId">Delete</a>
        }
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
    </div>
</div>
@{
    foreach (var comment in Model.Comments)
    {
        string userNameComment = UserManager.FindByIdAsync(comment.ApplicationUserId).Result.UserName;
        <div class="card border-secondary ms-4 mb-1 rounded-0">
            <div class="card-body text-secondary">
                <p class="card-text">@userNameComment : @comment.CreateDate.ToString("MMM dd yyyy")</p>
                <p class="card-text">@comment.Content</p>
            </div>
        </div>
    }
}


