@model List<ShinyRockForum.Models.Discussion>
@using Microsoft.AspNetCore.Identity
@using ShinyRockForum.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<p class="text-center">Recent Posts!</p>

@{
    foreach (var discussion in Model)
    {
        string userName = UserManager.FindByIdAsync(discussion.ApplicationUserId).Result.UserName;
        string imageUrl = Url.Content($"/photos/{discussion.ImageFilename}");

        <div class="card border-secondary mb-3 rounded-0" style="m">
            <div class="card-header">
                <a class="nav-link text-dark fw-semibold" asp-area="" asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@discussion.DiscussionId">@discussion.Title</a>
            </div>
            <div class="card-body text-secondary row g-0">

                <p class="card-text">@userName : @discussion.CreateDate.ToString("MMM dd yyyy")</p>
                    
                @if (!string.IsNullOrEmpty(discussion.ImageFilename))
                {
                    <div class="col-md-3 p-2">
                        <img src="@imageUrl" class="img-fluid " alt="Image" />
                    </div>
                }

                <div class ="col-md-9 mb-2">
                    <p class="card-text">@discussion.Content</p>
                </div>
                
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@discussion.DiscussionId">Comments: @discussion.Comments.Count</a>
            </div>
        </div>
    }
}

