@model List<ShinyRockForum.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

<p class="text-center">Recent Posts!</p>

@{
        foreach (var discussion in Model)
    {
        string imageUrl = Url.Content("/photos/" + discussion.ImageFilename);

        <div class="card border-secondary mb-3 rounded-0" style="m">
            <div class="card-header"><a class ="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@discussion.DiscussionId">@discussion.Title</a>
        </div>
            <div class="card-body text-secondary">
                @if (!string.IsNullOrEmpty(discussion.ImageFilename))
                {
                    <div class="col-md-3">
                        <img src="@imageUrl" class="img-fluid rounded-start" alt="Image">
                    </div>
                }
                <div class="col-md-9">
                    <p class="card-text">Posted at @discussion.CreateDate by SomeUserNameHere</p>
                
                    <p class="card-text">@discussion.Content</p>

                    <p class="card-text">Comments: @discussion.Comments.Count</p>
                </div>
            </div>
        </div>
    }
}

